@CHARSET "UTF-8";
.panel-title{
    text-align: center;
}
.panel .panel-heading{
	height: 39px;
}
.panel-body{
    height: 90%;
    padding: 0;
}
.toolbar{
    position:absolute;
    top:0px;
    right: 20px;
    z-index: 999;
}
#collapseOne{
	border: solid 0px;
}
.btn-default{
	border: none;
}
/*---------------------按钮样式----------------------*/

.toolbutton-jqm {
	margin: 0px;
	display: inline-block;
	font-size: 13px;		
	margin-left: 5px;
	margin-right: 5px;
}
.toolbutton-jqm:hover {
	text-decoration:none;
}

.toolbutton-jqm .ui-btn-inner { padding: .5em 8px .5em; color: #FFFFFF}
.toolbutton-jqm .ui-btn-inner:hover {color: #FFFFFF;}
.ui-btn {
    display: block;
    text-align: center;
    cursor: pointer;
    position: relative;
    margin: .4em 5px;
    padding: 0;
    float:right;
}

.ui-btn-up-a {
	border: 1px solid 		#111 /*{a-bup-border}*/;
	background: 			#333 /*{a-bup-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 1px /*{a-bup-shadow-radius}*/ #111 /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #444444 /*{a-bup-background-start}*/), to( #2d2d2d /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #444444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #444444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #444444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #444444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #444444 /*{a-bup-background-start}*/, #2d2d2d /*{a-bup-background-end}*/);
}

.ui-btn-corner-all {
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.ui-btn-corner-all {
	-moz-border-radius: 				1em /*{global-radii-buttons}*/;
	-webkit-border-radius: 				1em /*{global-radii-buttons}*/;
	border-radius: 						1em /*{global-radii-buttons}*/;
}

.ui-shadow {
	-moz-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 			rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 		rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 				rgba(0,0,0,.3) /*{global-box-shadow-color}*/;
}

.ui-btn-inline
{
    display: inline-block;	
}

.ui-btn-inner { padding: .6em 20px; min-width: .75em; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: relative; zoom: 1; }

.ui-loader { display: none; z-index: 9999999; position: fixed; top: 50%; box-shadow: 0 1px 1px -1px #fff; left: 50%; border:0; }
.ui-overlay-shadow {
	-moz-box-shadow: 0px 0px 12px 			rgba(0,0,0,.6);
	-webkit-box-shadow: 0px 0px 12px 		rgba(0,0,0,.6);
	box-shadow: 0px 0px 12px 				rgba(0,0,0,.6);
}
.ui-body-e,
.ui-overlay-e {
	border: 1px solid 		#F7C942 /*{e-body-border}*/;
	color: 					#222222 /*{e-body-color}*/;
	text-shadow: 0 /*{e-body-shadow-x}*/ 1px /*{e-body-shadow-y}*/ 0 /*{e-body-shadow-radius}*/ 	#fff /*{e-body-shadow-color}*/;
	background: 			#fff9df /*{e-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fffadf /*{e-body-background-start}*/), to( #fff3a5 /*{e-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fffadf /*{e-body-background-start}*/, #fff3a5 /*{e-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #fffadf /*{e-body-background-start}*/, #fff3a5 /*{e-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fffadf /*{e-body-background-start}*/, #fff3a5 /*{e-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #fffadf /*{e-body-background-start}*/, #fff3a5 /*{e-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #fffadf /*{e-body-background-start}*/, #fff3a5 /*{e-body-background-end}*/);
}







 /* #toolbar */
#toolbar{ 
	position:fixed; 
	top:0px; 
	right:10px; 
	z-index:900000000;
}
.panel-toolbar{ 
	width:0px; 
	height:auto; 
	overflow:hidden; 
	float:left;
    background-color:rgba(0,0,0,0); 
}
#toolbar .panel-toolbar .curvs-groups,.texts-groups,.roups-groups,.tolists-groups,.configs-groups{
	display: none;
}
.toolPNG{
	display: inline-block;
	height:38px;
	width:42px;
}
.toolPNG:HOVER{
	background-color:#b7b7b7;
}
.list-group{
	width: 270px;
}
#toolbar .panel-toolbar ul a{
	padding: 0 10;
}
#toolbar .panel-toolbar ul a img{
	height: 35px;
}
#toolbar .panel-toolbar ul a span{
	margin-top: 10px;
}
#toolbar .list-group .input-group{
	position:absolute;
	top:0px;
	left:0px;
	width:190px;
	height:auto;
	visibility:hidden;
}
#toolbar .list-group .lineW .input-group{
	visibility:visible;
}
#toolbar .list-group .color .input-group{
	visibility:visible;
}
#toolbar .list-group .list-group-item:HOVER{
	background-color:#949494;
}
.colorpicker{
	margin-top: 10px;
}
#toolbar .list-group .color{
	height: 170px;
}
 /* #toolbar */