 .dropdown-menu {
  filter: alpha(opacity=90);
  opacity: 0.9;
  position: absolute;
  display: none;
  z-index: 1000;
  float: left;
  min-width: 140px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 15px;
  background-color: #004A84;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.dropdown-menu>li:hover,.dropdown-menu>li:focus{text-decoration:none;color:#ffffff;background-color:green;}
.dropdown-menu>li>a {
  display: inline;
  padding: 0px 8px;
  clear: both;
  font-weight: normal;
  margin-right:-8px;
  color: #ffffff;
  white-space: nowrap;
  cursor: default;
  background:none;
}

        
        body
        {
         font-family: 'microsoft yahei','Helvetica Neue',Helvetica,Arial,sans-serif;
            margin: 0px;
            padding: 0px;
        }
        html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6, span, canvas, a, img
        {
            -webkit-text-size-adjust: none;
        }
        #picker
        {
            margin: 0;
            padding: 0;
            border: 0;
            width: 120px;
            height: 20px;
            border-right: 20px solid #0000ff;
            line-height: 20px;
        }
        #Picker
        {
            margin: 0;
            padding: 0;
            border: 0;
            width: 120px;
            height: 20px;
            border-right: 20px solid #0000ff;
            line-height: 20px;
        }
        .current a
        {
            font-size: 20px;
        }
        .over
        {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #f5f5f5;
            opacity: 0.5;
            z-index: 1000;
        }
        .layout
        {
            display: none;
            position: absolute;
            top: 40%;
            left: 40%;
            width: 20%;
            z-index: 1001;
            text-align: center;
        }
        .dataItem-Annex
        {
            background-color: #FFFFFF;
            text-align: center;
            vertical-align: middle;
            height: 86px;
            width: 66px;
            float: left;
            list-style: none;
        }
        
        .dataItem-Annex img
        {
            border-style: none;
            border-width: 0px;
            width: 66px;
            height: 66px;
            line-height: 66px;
            vertical-align: middle;
            margin: auto;
        }
        .dataItem-img
        {
            background-color: #FFFFFF;
            text-align: center;
            vertical-align: middle;
            height: 120px;
            width: 66px;
            float: left;
            list-style: none;
            background-image: url('css/thumbnail-bg.png');
            background-repeat: no-repeat;
        }
        .dataItem-img img
        {
            border-style: none;
            border-width: 0px;
            width: 62px;
            height: 103px;
            line-height: 103px;
            vertical-align: middle;
            margin: auto;
        }
        /*media screen*/
        .NavBar_zoomControlContainer
        {
            width: 82px;
            height: 29px;
           
            opacity: 0.8;
              filter:Alpha(opacity=80);
        }
        
        /*media screen*/
        .NavBar_zoomDrop
        {
            top: 29px;
            left: 0px;
            width: 41px;
            height: 230px;
            background: #faf7f5;
            margin-left: 20px;
            margin-top: -20px;
            padding-top: 15px;
                opacity: 0.8;
              filter:Alpha(opacity=80);
        }
        
        
        /*media screen*/
        .NavBar_zoomBar
        {
            width: 30px;
            height: 131px;
            top: 21px;
            left: 6px;
            cursor: pointer;
        }
        
        /*media screen*/
        .NavBar_toolButton
        {
            width: 25px;
        }
        
        /*media screen*/
        .NavBar_button
        {
            height: 29px;
            margin: 0;
            border: none;
            vertical-align: top;
            display: inline-block;
            text-decoration: none;
            line-height: 29px;
            color: #5077bb;
            cursor: pointer;
             opacity: 0.8;
              filter:Alpha(opacity=80);
        }
        /*media screen*/
        .NavBar_zoomControlContainer .NavBar_zoomOut
        {
            background: transparent url(../image/vecss_zh.png) no-repeat;
            width: 41px;
            height: 40px;
            background-position: 0 -106px;
            margin: 0;
            position:absolute;
        }
      
        /*media screen*/
        .NavBar_zoomControlContainer .NavBar_zoomIn
        {
            background: transparent url(../image/vecss_zh.png) no-repeat;
            width: 41px;
            height: 40px;
            background-position: 0 -229px;
            margin-left: 40px;
            position: absolute;
        }
        /*media screen*/
        .NavBar_zoomControlContainer a
        {
            text-decoration: none;
        }
        /*media screen*/
        .NavBar_zoomBarBg
        {
            position: absolute;
            left: 12px;
            background: url(../image/zoom_bar.png) no-repeat 0 0;
            width: 6px;
            height: 110px;
        }
        /*media screen*/
        .NavBar_zoomSlider
        {
            position: absolute;
            left: 7px;
            background: url(../image/zoom_thumb.png) no-repeat 0 0;
            cursor: pointer;
            width: 16px;
            height: 8px;
        }
        /*media screen*/
        #slider:focus, a:active, div
        {
            outline: none; 
        }

            body > h2 { margin: 30px 0 15px; text-shadow: 1px 1px 0 white; border-bottom: 2px solid #333; padding-bottom: 5px }
            h1 { text-align: center; margin-bottom: 30px; text-shadow: 1px 1px 0 white }
            strong + p { margin-top: 0 }
            dt { font-weight: bold }
            dd { margin: 0 }
            .xz:hover
            {
                  background: #333;
             }
                  .xxim_main {
        border: 1px solid #BEBEBE;
        background-color: #fff;
        font-size: 12px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
        z-index: 99999999;
}
            .xxim_on {
        position: absolute;
        right: 0px;
        top: 50%;
        width: 20px;
        text-align: center;
        color: #999;
        line-height: 97px;
        height: 97px;
        margin-top: -49px;
        border: solid 1px #BEBEBE;
        border-right: none;
        background: #F2F4F8;
        z-index:9999;
        }           
        .transparent_class {  
      filter:alpha(opacity=90);  
      -moz-opacity:0.9;  
      -khtml-opacity: 0.9;  
      opacity: 0.9;  
}      
  .SlideNum
        {
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 20px;
        }
        
        .SlideList
        {
            height: 120px;
            border: 1px solid #ddd;
            background: rgba(255,255,255,.7);
            min-height: 100px;
            display: table-cell;
            vertical-align: middle;
        }
        
        .relevant-slide.active
        {
            border-color: #428bca;
        }
        .SlideSelect
        {
            border:3px solid #ff0000;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius:3px;
            position:relative;
        }
         .unselect
        {
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none; /* 以下两个属性目前并未支持，写在这里为了减少风险 */
            -o-user-select: none;
            user-select: none;
        }
        .HyShotList
        {
            position: relative;
            height: 80px;
            width: 103px;
            list-style: none;
            float: left;
            margin: 5px;
            display: list-item;
            text-align: -webkit-match-parent;
        }
        
        .Thums
        {
            padding: 4px;
            border: 1px solid #ddd;
        }
        .tools
        {
            width: 100%;
            display: none;
            position: absolute;
        }
        .tools > span
        {
            cursor: pointer;
        }
        .input-group-addon, .label
        {
            line-height: 1;
            text-align: center;
        }
        
